/* -- Copyright © Microsoft Corporation. All rights reserved. */
   
body {
    user-select: none;
    margin-top: 5%;
}

#testbox {
    touch-action: none;
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid 4px black; 
  }

.resultContent {
    height: 150px;
}
